spring:
  config:
    import: optional:file:/home/ubuntu/.env

  application:
    name: Play_Baseball

  datasource:
    url: jdbc:mysql://${RDS_HOST}:${RDS_PORT}/${RDS_NAME}
    username: ${RDS_USER}
    password: ${RDS_PASSWORD}
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      idle-timeout: 300000
      connection-timeout: 30000
      max-lifetime: 1800000
      leak-detection-threshold: 60000

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  security:
    user:
      name: ${SECURITY_USER_NAME}
      password: ${SECURITY_USER_PASSWORD}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail.smtp.debug: true
      mail.smtp.connectiontimeout: 1000 #1ì´ˆ
      mail.starttls.enable: true
      mail.smtp.auth: true

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
    org.springframework.security: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE
    org.example.spring: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    name: logs/application.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 30
      total-size-cap: 3GB

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
  refresh-token:
    expiration: ${JWT_REFRESH_TOKEN_EXPIRATION}
  email-verification:
    expiration: ${JWT_EMAIL_VERIFICATION_EXPIRATION}

file:
  upload-dir: src/main/resources/static/uploads

app:
  base-url: https://api.ioshane.com
  fe-url: https://ioshane.com
  resource-url: https://resource.ioshane.com

cloud:
  aws:
    s3:
      bucket: ${S3_NAME}
    stack.auto: false
    region.static: ap-northeast-2
    credentials:
      accessKey: ${S3_KEY}
      secretKey: ${S3_SECRET}

alan:
  key: ${ALAN_KEY}
  host: ${ALAN_HOST}

#server:
#  forward-headers-strategy: native
#  tomcat:
#    remote-ip-header: X-Forwarded-For
#    protocol-header: X-Forwarded-Proto
